@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
:root {
  --couleur-primaire: #3b99d3;
  --couleur-secondaire: #0e2334;
  --couleur-blanche: #fff;
}

* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}
.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Place la vidéo derrière le contenu */
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adapte la vidéo sans déformation */
  transform: translate(-50%, -50%);
}

/* Styles pour le contenu */
.content {
  position: relative;
  z-index: 1; /* Place le contenu au-dessus de la vidéo */
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  vertical-align: middle;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 400;
  color: var(--couleur-primaire);
  background-color: var(--couleur-secondaire);
}

.site {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.conteneur {
  max-width: 480px;
  width: 100%;
  padding: 0 2em;
}

nav {
  display: flex;
  justify-content: flex-end;
  position: relative;
  max-width: 480px;
  width: 100%;
  height: 500px;
}

nav .lien {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  right: 0;
  cursor: pointer;
  z-index: 99;
}

nav .lien:before {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-image: linear-gradient(
    to left,
    transparent 25%,
    var(--couleur-primaire)
  );
  border-radius: 50% 0 0 50%;
  transform: scale(2);
  z-index: -2;
}

nav .lien:after {
  content: "";
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: var(--couleur-secondaire);
  border-radius: 50% 0 0 50%;
  transform: scale(2);
  z-index: -1;
  opacity: 0.5;
}

nav .lien:hover:after {
  opacity: 0.9;
}

nav .lien .fermer,
nav input:checked ~ .label .menu {
  display: none;
}
nav input:checked ~ .label .fermer {
  display: block;
}

nav ul.sousmenu {
  position: absolute;
  transform: rotate(90deg);
  top: 0;
  right: 4em;
  width: 350px;
  height: 500px;
  opacity: 0;
  transition: opacity 0.4s;
}

nav > input:checked ~ ul.sousmenu {
  opacity: 1;
  transform: rotate(90deg);
}

nav > input:checked ~ ul {
  visibility: inherit;
}

nav > input:checked ~ ul li {
  transform: rotate(calc((-180deg / 8) * var(--element))) translateX(0);
  opacity: 1;
}

nav ul.sousmenu li {
  --element: 1;
  position: absolute;
  width: 175px;
  height: 60px;
  transform-origin: right center;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: transform 0.7s, opacity 0.2s;
}

nav ul li:nth-child(2) {
  --element: 2;
}

nav ul li:nth-child(3) {
  --element: 3;
}

nav ul li:nth-child(4) {
  --element: 4;
}

nav ul li:nth-child(5) {
  --element: 5;
}

nav ul li:nth-child(6) {
  --element: 6;
}

nav ul li:nth-child(7) {
  --element: 7;
}

nav ul li a {
  position: relative;
  display: flex;
  align-items: center;
}

nav ul li a i {
  font-size: 20px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  color: var(--couleur-blanche);
  background-color: var(--couleur-primaire);
  transition: border-color 0.3s, background-color 0.3s;
}

nav ul li a i:hover {
  background-color: transparent;
  border-color: var(--couleur-primaire);
}

nav ul li a span {
  position: absolute;
  right: calc(100% + 1.5em);
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.3s, transform 0.3s;
  white-space: nowrap;
  color: var(--couleur-blanche);
}

nav ul li:hover a span {
  opacity: 1;
  transform: translateX(0);
}

nav ul li:nth-child(1) a i {
  transform: rotate(-292deg);
}

nav ul li:nth-child(2) a i {
  transform: rotate(-315deg);
}

nav ul li:nth-child(3) a i {
  transform: rotate(-337deg);
}

nav ul li:nth-child(4) a i {
  transform: rotate(-22deg);
}

nav ul li:nth-child(5) a i {
  transform: rotate(-45deg);
}

nav ul li:nth-child(6) a i {
  transform: rotate(-67deg);
}
